doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        title Untitled

    body
        block content
        
    
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js')
    script(type='text/javascript', src='main.js')